{% extends "/static_templates/base.html" %}

{% block main %}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

        <div class="row">
            {% for tweet in tweets %}
                <div class="well well-large">
                    <div>
                        <strong>@{{ user }}</strong>
                        <span class="label label-primary">{{ tweet[2] }}</span>
                    </div>
                    <div>{{ tweet[3] }}</div>
                </div>
            {% endfor %}
        
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

{% endblock %}