{% extends "/static_templates/base.html" %}

{% block main %}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

        <div class="row">
            <form role="form" action="" method="POST">
    		  <div class="form-group">
                <textarea class="form-control" name="tweet" placeholder="Write your tweet here..." required></textarea>
    		  </div>
    		  <button type="submit" class="btn btn-info pull-right">Submit</button>
    		</form>
        </div>
        
		{% for message in get_flashed_messages(category_filter=["error"]) %}
		<div class="alert alert-danger" role="alert" style="margin-top: 20px;">{{ message }}</div>
		{% endfor %}
		
		{% for message in get_flashed_messages(category_filter=["success"]) %}
		<div class="alert alert-success" role="alert" style="margin-top: 20px;">{{ message }}</div>
		{% endfor %}
		
        <div class="row">
            
            {% for tweet in tweets %}
                <div class="well well-large">
                    <form action="/delete_tweet/{{tweet[0]}}" method="POST">
                        <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                    </form>
                    <div>
                        <strong><a href="/{{ user }}">@{{ user }}</a></strong>
                        <span class="label label-primary">{{ tweet[2] }}</span>
                    </div>
                    <div>{{ tweet[3] }}</div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

{% endblock %}