{% extends "/static_templates/base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

        <div class="row">
            <form role="form" action="" method="POST">
    		  <div class="form-group">
                <textarea class="form-control" name="content" placeholder="Write your tweet here..." required></textarea>
    		  </div>
    		  <button type="submit" class="btn btn-info pull-right">Submit</button>
    		</form>
        </div>


        <div class="row">

            {% for tweet in tweets %}
            <div class="well well-large">

                <form action="/tweets/{{ tweet['id'] }}/delete" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>


                <div>
                    <strong>@{{tweet.username}}</strong>
                    <span class="label label-primary">{{tweet.created}}</span>
                </div>
                <div>{{ tweet.content }}</div>


            </div>
            {% endfor %}



        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}

    {%if users%}
    <div class="users" style="margin-left:20%">
      <h2>Registered Users List</h2>
      <table style="width:100%;">
        {%for user in users%}
          <tr>
            <td>{{user[0]}}</td>
          </tr>
        {%endfor%}
      </table>
    </div>
    {%endif%}


