language: python
sudo: false
os:
  - linux

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

install:
  - pip install -r dev-requirements.txt

script:
  - "PYTHONPATH=. py.test -v --tb=short tests"

notifications:
  webhooks:
    urls:
      - https://rmotr.com/api/v1/webhooks/travis/build-project
    on_success: always
    on_failure: always
    on_start: never
