{"filter":false,"title":".gitignore","tooltip":"~/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":2,"column":1},"end":{"row":2,"column":2},"action":"insert","lines":["~"],"id":2}],[{"start":{"row":2,"column":4},"end":{"row":2,"column":5},"action":"insert","lines":["*"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":46,"column":5},"end":{"row":46,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1469779776061,"hash":"e242d4880acb6dc93c6602aec2f37109f8dab27e"}