{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        {% if own_feed %}
        <div class="row">
            <form role="form" action="" method="POST">
    		  <div class="form-group">
                <textarea class="form-control" name="tweet" placeholder="Write your tweet here..." required></textarea>
    		  </div>
    		  <button type="submit" class="btn btn-info pull-right">Submit</button>
    		</form>
        </div>
        {% else %}
        <div class="row">
            <h1>{{ username }}'s Profile</h1>
        </div>
        {% endif %}


        <div class="row">
            {% for tweet in tweets %}

            <div class="well well-large">
                {% if own_feed %}
                <form action="/tweets/27/delete?next=http://localhost:8080/martinzugnoni" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>
                {% endif %}

                <div>
                    <strong>@{{ username }}</strong>
                    <span class="label label-primary">{{ tweet[2] }}</span>
                </div>
                <div>{{ tweet[3] }}</div>
            </div>
            {% else %}
            <div> No Tweets here.</div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}
