{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">


        <div class="row">


            <div class="well well-large">


                <div>
                    <strong>@ivanzugnoni</strong>
                    <span class="label label-primary">2016-06-07 01:42:45</span>
                </div>
                <div>sdfasdf</div>


            </div>

            <div class="well well-large">


                <div>
                    <strong>@ivanzugnoni</strong>
                    <span class="label label-primary">2016-06-07 01:41:44</span>
                </div>
                <div>sdfasdfadsf</div>


            </div>

            <div class="well well-large">


                <div>
                    <strong>@ivanzugnoni</strong>
                    <span class="label label-primary">2016-06-07 01:39:36</span>
                </div>
                <div>dfgfdgdfg</div>


            </div>

            <div class="well well-large">


                <div>
                    <strong>@ivanzugnoni</strong>
                    <span class="label label-primary">2016-06-07 01:39:20</span>
                </div>
                <div>kjasdhjaskdh</div>


            </div>


        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

{% endblock %}