{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

        <div class="row">
            <form role="form" action="" method="POST">
    		  <div class="form-group">
                <textarea class="form-control" name="tweet" placeholder="Write your tweet here..." required></textarea>
    		  </div>
    		  <button type="submit" class="btn btn-info pull-right">Submit</button>
    		</form>
        </div>


        <div class="row">

<!-- generated content -->

                 
                        <!-- need to get tweet number and proper URL to construct this.
                        Problem is that action= wants a string immediately, so formatting a string
                        it thinks that the first curly bracket is a string, and same problem with 
                        setting a variable.-->
                    {% for item in tweets %}
                    <div class="well well-large">

                         <form action="/tweets/7/delete?next=http://localhost:8080/martinzugnoni" method="POST">
                            <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                        </form>
                        
                        <div>
                            <strong>@{{username}}</strong>
                            <span class="label label-primary">{{item["created"]}}</span>
                        </div>
                        <div>{{item["content"]}}</div>
                    </div>
                    {% endfor %}


                </div>
            








            
<!--   

            <div class="well well-large">

                <form action="/tweets/27/delete?next=http://localhost:8080/martinzugnoni" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>


                <div>
                    <strong>@martinzugnoni</strong>
                    <span class="label label-primary">2016-06-07 15:10:39</span>
                </div>
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy text ever. </div>


            </div>

            <div class="well well-large">

                <form action="/tweets/7/delete?next=http://localhost:8080/martinzugnoni" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>


                <div>
                    <strong>@martinzugnoni</strong>
                    <span class="label label-primary">2016-06-07 01:09:26</span>
                </div>
                <div>Even more testing...</div>


            </div>

            <div class="well well-large">

                <form action="/tweets/6/delete?next=http://localhost:8080/martinzugnoni" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>


                <div>
                    <strong>@martinzugnoni</strong>
                    <span class="label label-primary">2016-06-07 01:02:55</span>
                </div>
                <div>This works pretty well</div>


            </div>

            <div class="well well-large">

                <form action="/tweets/5/delete?next=http://localhost:8080/martinzugnoni" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>


                <div>
                    <strong>@martinzugnoni</strong>
                    <span class="label label-primary">2016-06-07 01:02:35</span>
                </div>
                <div>Other one from the web site</div>


            </div>

            <div class="well well-large">

                <form action="/tweets/4/delete?next=http://localhost:8080/martinzugnoni" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>


                <div>
                    <strong>@martinzugnoni</strong>
                    <span class="label label-primary">2016-06-07 01:01:29</span>
                </div>
                <div>First tweet from form...</div>


            </div>

            <div class="well well-large">

                <form action="/tweets/1/delete?next=http://localhost:8080/martinzugnoni" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>


                <div>
                    <strong>@martinzugnoni</strong>
                    <span class="label label-primary">2016-06-07 00:17:20</span>
                </div>
                <div>Hello World!</div>


            </div>

            <div class="well well-large">

                <form action="/tweets/2/delete?next=http://localhost:8080/martinzugnoni" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>


                <div>
                    <strong>@martinzugnoni</strong>
                    <span class="label label-primary">2016-06-07 00:17:20</span>
                </div>
                <div>This is so awesome</div>


            </div>

            <div class="well well-large">

                <form action="/tweets/3/delete?next=http://localhost:8080/martinzugnoni" method="POST">
                    <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
                </form>


                <div>
                    <strong>@martinzugnoni</strong>
                    <span class="label label-primary">2016-06-07 00:17:20</span>
                </div>
                <div>Testing twitter clone</div>


            </div>

    -->
        </div>
    </div>
    <div class="col-sm-2"></div>

</div>

{% endblock %}